= form_for(@person) do |f|
  = error_messages_for @person

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :email
    = f.text_field :email

  .field
    = f.label :github_nickname
    = f.text_field :github_nickname

  .field
    = f.label :website
    = f.text_field :website

  .field
    = f.label :time_zone
    = f.text_field :time_zone

  = f.fields_for :permissions do |permission_form|
    = permission_form.hidden_field :resource_id, :value => permission_form.object.resource.id
    .field.permission-collection{:"data-object-name" => permission_form.object_name}
      = permission_form.label :role_id, permission_form.object.resource.name
      = permission_form.collection_select :role_id, Role.all, :id, :name, {:include_blank => "(none)"}

  .actions
    = f.submit 'Save'
    = link_to 'Destroy', @person, :method => :delete

- content_for :footer do
  :coffeescript
    $ ->
      Clubhouse.PeopleForm.init()
