%h1 Admissions

= form_for(@admission) do |f|

  -if @admission.errors.any?
    #error_explanation
      = pluralize(@admission.errors.count, "error") + " prohibited this information from being saved"
      %ul
        - @admission.errors.full_messages.each do |message|
          %li
            = message

  = f.label :title
  = f.text_field :title

  = f.label :description
  = f.text_area :description

  = f.label :open
  = f.check_box :open

  = f.label :closed_on
  = date_select :admission, :closed_on

  = f.label :limit
  = f.text_field :limit

  = f.submit