!!! 5
%html{ :lang => "en"}
  %head
    %title Clubhouse

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    
    = render :partial => "shared/flash", :locals => {:flash => flash}
    
    = yield(:header_bottom)

  %body= yield
